In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet('OUTPUT/evictions_matched.parquet')

In [3]:
df['confidence_bucket'] = pd.cut(
    df['match_confidence'],
    bins=[0, 70, 80, 85, 90, 95, 100],
    labels=['<70', '70–80', '80–85', '85–90', '90–95', '95–100']
)

# Overview of distribution
print(df['confidence_bucket'].value_counts().sort_index())

confidence_bucket
<70            0
70–80          0
80–85          0
85–90     218583
90–95      63648
95–100    233003
Name: count, dtype: int64

In [5]:
for bucket in df['confidence_bucket'].unique():
    print(f"\n--- Sample from Confidence Bucket: {bucket} ---")
    display(df[df['confidence_bucket'] == bucket][['plaintiff_name','EntityID']].sample(5))

--- Sample from Confidence Bucket: 85–90 ---

                              plaintiff_name    EntityID
338972                 ORCHARD MILLS APTS LP  Char, LLC
487790                        VISTAS APTS LP  A.P., LLC
261110  LAKE VILLAGE LIMITED PARTNERSHIP LLP  E LIM LLC
244876                      KETTLER MGMT INC  KET LLC
180549               G AND VII CREEKWOOD LLC  CREEK, LLC

--- Sample from Confidence Bucket: 95–100 ---

                        plaintiff_name                            EntityID
80417   BRIARWOOD COURT ASSOCIATES LLC  BRIARWOOD COURT ASSOCIATES, L.L.C.
223796    INDEPENDENCE ACQUISITION LLC       Independence Acquisition, LLC
285848          MASTERS PROPERTIES LLC            Master's Properties, LLC
263615                LANDLORD PRO LLC                   Landlord Pro, LLC
385240            RFI SEVEN GABLES LLC                RFI Seven Gables LLC

--- Sample from Confidence Bucket: 90–95 ---

                 plaintiff_name                           EntityID
317563       NORTHVIEW APTS LLC                  NORTHVIEW, L.L.C.
89881      C G P ASSOCIATES LLC              C. P. ASSOCIATES, LLC
70719        BLUE WATER DEV LLC                     Blue Water LLC
378943  RENAISSANCE MAYFAIR LLC  RENAISSANCE HAMPTONS MAYFAIR, LLC
10066      425 CAMPBELL AVE LLC           425 CAMPBELL AVENUE, LLC

--- Sample from Confidence Bucket: nan ---

ValueError: a must be greater than 0 unless no samples are taken