In [19]:
import pandas as pd

In [20]:
df = pd.read_parquet('../OUTPUT/evictions_matched.parquet')

In [21]:
matches = df.copy()

In [22]:
matches = matches.sort_values(by='match_confidence', ascending=False)

In [23]:
matches = matches[['plaintiff_name', 'Name', 'match_confidence']]

In [24]:
matches = matches.drop_duplicates()

In [25]:
matches.to_csv('../OUTPUT/full_matches.csv')

In [26]:
df['confidence_bucket'] = pd.cut(
    df['match_confidence'],
    bins=[0, 70, 80, 85, 90, 95, 100],
    labels=['<70', '70–80', '80–85', '85–90', '90–95', '95–100']
)

# Overview of distribution
print(df['confidence_bucket'].value_counts().sort_index())

confidence_bucket
<70            0
70–80          0
80–85          0
85–90     333660
90–95      63719
95–100    233010
Name: count, dtype: int64

In [27]:
for bucket in df['confidence_bucket'].unique():
    print(f"\n--- Sample from Confidence Bucket: {bucket} ---")
    display(df[df['confidence_bucket'] == bucket][['plaintiff_name','Name']].sample(5))

--- Sample from Confidence Bucket: 85–90 ---

                  plaintiff_name           Name
413450      PANCO MGMT OF NJ LLC        PCC LLC
41746                AMGULF CORP  F & L, L.L.C.
556887  TGM HONEY BROOK APTS LLC       TLHP LLC
549137          TACKETT APTS LLC      TPBC, LLC
153270    CORE PARK WEST END LLC        PRC LLC

--- Sample from Confidence Bucket: 95–100 ---

,plaintiff_name,Name
216938,FPACP4 BLVD 2801 LLC,"FPACP4 BLVD 2801, LLC"
608984,WESTOVER 305 LLC,"Westover 305, LLC"
228806,GATEWAY ASSOCIATES OF RICHMOND LLC,"Gateway Associates of Richmond, LLC"
428123,PENINSULA GROVE LLC,"Peninsula Grove, LLC"
595171,VIRGINIA COMMON RENTALS LLC,Virginia Common Rentals LLC

--- Sample from Confidence Bucket: 90–95 ---

,plaintiff_name,Name
562563,TILDEN FUNDAMENTAL LIEUTENANTS RUN APTS LLC,Tilden Fundamental Lieutenant's Run Apartments...
348298,MONTGOMERY SQ ACQUISITION LLC,"Montgomery Square Acquisition, LLC"
351698,MOUNT VERNON SQ LANTERN OWNER LLC,Mount Vernon Square Lantern Owner LLC
106587,CAMDEN DEVELOPMENT INC,"Camden Land Development, LLC"
530080,SOUTHGATE APTS LLC,SOUTHGATE LLC

--- Sample from Confidence Bucket: nan ---

ValueError: a must be greater than 0 unless no samples are taken