In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet('../OUTPUT/evictions_matched.parquet')

In [3]:
df['confidence_bucket'] = pd.cut(
    df['match_confidence'],
    bins=[0, 70, 80, 85, 90, 95, 100],
    labels=['<70', '70–80', '80–85', '85–90', '90–95', '95–100']
)

# Overview of distribution
print(df['confidence_bucket'].value_counts().sort_index())
print(f'Total matches: {df.shape[0]}')

confidence_bucket
<70            0
70–80          0
80–85          0
85–90     206867
90–95      79010
95–100    260210
Name: count, dtype: int64
Total matches: 546089

In [5]:
for bucket in df['confidence_bucket'].unique():
    print(f"\n--- Sample from Confidence Bucket: {bucket} ---")
    bucket_df = df[df['confidence_bucket'] == bucket][['plaintiff_name', 'Name']]
    if len(bucket_df) >= 5:
        display(bucket_df.sample(5))

--- Sample from Confidence Bucket: 90–95 ---

                        plaintiff_name                                Name
513910      VILLAGE AT STONEYBROOK LLC  The Village at StoneyBrook, L.L.C.
507590  UNITED PROPERTY ASSOCIATES INC   White Property Associates, L.L.C.
271014           JUDY BOONE REALTY INC                    Boone Realty LLC
351939           NEWPORT LAKE APTS LLC                   LAKE NEWPORT, LLC
520904      WASHINGTON AVENUE APTS LLC              Washington Avenue, LLC

--- Sample from Confidence Bucket: 85–90 ---

                plaintiff_name           Name
457785      SOUTHERN MGMT CORP         MG LLC
102357      BROOKVILLE APTS LP         AP LLC
208873        G E MATTHEWS INC        TTL LLC
377205  PC TGA RICHMOND JV LLC  C & T, L.L.C.
368436   ORCHARD MILLS APTS LP    ORCHARD LLC

--- Sample from Confidence Bucket: 95–100 ---

,plaintiff_name,Name
62357,ATLANTIC MULTI FAMILY 8 HILTON VILLAGE LLC,"Atlantic Multi Family 8--Hilton Village, LLC"
472339,STONEY RUN VILLAGE LLC,"Stoney Run Village, LLC"
51402,APEX GLENWOOD VA LLC,Apex Glenwood VA LLC
3606,140 SOUTH VAN DORN STREET VA OWNER LLC,"140 South Van Dorn Street (VA) Owner, LLC"
331886,MH ESTATES LLC,MH Estates LLC

--- Sample from Confidence Bucket: nan ---